$color-white: #ffffff;
$color-black: #000000;

$color-grey-light: #d8d8d8;
$color-grey: #b2b2b2;
$color-grey-stronger: #555555;
$color-grey-strong: #333333;

$color-dark-cerulean: #0b6c84;
$color-alizarin: #dd2a1d;

$color-cta: $color-dark-cerulean;
$color-danger: $color-alizarin;
$color-button-default: $color-grey;
$color-border: $color-grey-stronger;
$color-border-light: $color-grey;
$color-background-darker: $color-grey-light;
$color-link: $color-dark-cerulean;
$color-body-font: $color-black;
