// Vertical rhythm
//
// inspired by: https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm

$font-size-base-px: 16px;

// base values for font size and line height
$font-size-base: 1rem;
$line-height-base-multiplicator: 1.25;
$line-height-base: $font-size-base * $line-height-base-multiplicator;

// use modular scale mixin to determine font size scaling
// https://github.com/modularscale/modularscale-sass
$ms-base: 1rem;
$ms-ratio: $major-third;

$type-scale: (
	s: ms(-1),
	m: ms(0),
	l: ms(1),
	xl: ms(2),
	xxl: ms(4),
);

$line-heights: (
	s: $line-height-base,
	m: $line-height-base,
	l: $line-height-base,
	xl: $line-height-base * 2,
	xxl: $line-height-base * 2,
);

@function type-scale($size) {
	@return map-get($type-scale, $size);
}

@function line-height($size) {
	@return map-get($line-heights, $size);
}

@function rhythm($lines: 1) {
	@return $line-height-base * $lines;
}

// mixins

@mixin type-setting($size: m) {
	font-size: type-scale($size);
	line-height: line-height($size);
}

@mixin leader($lines: 1, $property: margin) {
	#{$property}-top: rhythm($lines);
}

@mixin leader-pad($lines: 1) {
	@include leader($lines, 'padding');
}

@mixin trailer($lines: 1, $property: margin) {
	#{$property}-bottom: rhythm($lines);
}

@mixin trailer-pad($lines: 1) {
	@include trailer($lines, 'padding');
}
