// Vertical rhythm
//
// inspired by: https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm



$font-size-base-px: 16px;

// base values for font size and line height
$font-size-base: 1rem;
$line-height-base-multiplicator: 1.5;
$line-height-base: $font-size-base * $line-height-base-multiplicator;

// use modular scale mixin to determine font size scaling
// https://github.com/modularscale/modularscale-sass
$ms-base: .75em;
$ms-ratio: $major-third;

$type-scale: (
	s: ms(1),
	m: ms(2),
	l: ms(3),
	xl: ms(4)
);

$line-heights: (
	s: $line-height-base,
	m: $line-height-base,
	l: $line-height-base * 2,
	xl: $line-height-base * 2
);

@function type-scale($size) {
	@return map-get($type-scale, $size);
}

@function line-height($size) {
	@return map-get($line-heights, $size);
}

@function rhythm($lines: 1) {
	@return $line-height-base * $lines;
}





// mixins



@mixin type-setting($size: m) {
	font-size: type-scale($size);
	line-height: line-height($size);
}

@mixin leader($lines: 1, $property: margin) {
	#{$property}-top: rhythm($lines);
}

@mixin leader-pad($lines: 1) {
	@include leader($lines, 'padding');
}

@mixin trailer($lines: 1, $property: margin) {
	#{$property}-bottom: rhythm($lines);
}

@mixin trailer-pad($lines: 1) {
	@include trailer($lines, 'padding');
}





// base grid image for debugging (if the susy one isn't good enough)
// http://basehold.it/

@mixin baseline-grid($line-height: $font-size-base-px * $line-height-base-multiplicator) {

	position: relative;

	&:after {
		background: url(http://basehold.it/image.php?height=#{$line-height}&r=255&g=255&b=255) repeat top left;
		bottom: 0;
		content: '';
		display: block;
		height: auto;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		z-index: 9999;
	}

	&:active:after {
		display: none;
	}

}
